# Course: [pandas in 30 days](https://courses.dataschool.io/view/courses/pandas-in-30-days)

*Â© 2024 Data School. All rights reserved.*

In [1]:
import pandas as pd
import numpy as np

In [3]:
ufo_data='http://bit.ly/uforeports'
chipotle_data='http://bit.ly/chiporders'
movies_data='http://bit.ly/imdbratings'
drinks_data='http://bit.ly/drinksbycountry'
titanic_train_data='http://bit.ly/kaggletrain'

### section hyperlinks- not working in vscode

1. <a href="#Day-1:-What-is-pandas?">What is pandas?</a>
2. <a href="#Day-2:-How-do-I-read-a-tabular-data-file-into-pandas?">How do I read a tabular data file into pandas?</a>
3. <a href="#Day-3:-How-do-I-select-a-pandas-Series-from-a-DataFrame?">How do I select a pandas Series from a DataFrame?</a>
4. <a href="#Day-4:-Why-do-some-pandas-commands-end-with-parentheses-(and-others-don't)?">Why do some pandas commands end with parentheses (and others don't)?</a>
5. <a href="#Day-5:-How-do-I-rename-columns-in-a-pandas-DataFrame?">How do I rename columns in a pandas DataFrame?</a>
6. <a href="#Day-6:-How-do-I-remove-columns-from-a-pandas-DataFrame?">How do I remove columns from a pandas DataFrame?</a>
7. <a href="#Day-7:-How-do-I-sort-a-pandas-DataFrame-or-a-Series?">How do I sort a pandas DataFrame or a Series?</a>
8. <a href="#Day-8:-How-do-I-filter-rows-of-a-pandas-DataFrame-by-column-value?">How do I filter rows of a pandas DataFrame by column value?</a>
9. <a href="#Day-9:-How-do-I-apply-multiple-filter-criteria-to-a-pandas-DataFrame?">How do I apply multiple filter criteria to a pandas DataFrame?</a>
10. <a href="#Day-10:-Your-pandas-questions-answered!">Your pandas questions answered!</a>
11. <a href="#Day-11:-How-do-I-use-the-%22axis%22-parameter-in-pandas?">How do I use the "axis" parameter in pandas?</a>
12. <a href="#Day-12:-How-do-I-use-string-methods-in-pandas?">How do I use string methods in pandas?</a>
13. <a href="#Day-13:-How-do-I-change-the-data-type-of-a-pandas-Series?">How do I change the data type of a pandas Series?</a>
14. <a href="#Day-14:-When-should-I-use-a-%22groupby%22-in-pandas?">When should I use a "groupby" in pandas?</a>
15. <a href="#Day-15:-How-do-I-explore-a-pandas-Series?">How do I explore a pandas Series?</a>
16. <a href="#Day-16:-How-do-I-handle-missing-values-in-pandas?">How do I handle missing values in pandas?</a>
17. <a href="#Day-17:-What-do-I-need-to-know-about-the-pandas-index?-(Part-1)">What do I need to know about the pandas index? (Part 1)</a>
18. <a href="#Day-18:-What-do-I-need-to-know-about-the-pandas-index?-(Part-2)">What do I need to know about the pandas index? (Part 2)</a>
19. <a href="#Day-19:-How-do-I-select-multiple-rows-and-columns-from-a-pandas-DataFrame?">How do I select multiple rows and columns from a pandas DataFrame?</a>
20. <a href="#Day-20:-When-should-I-use-the-%22inplace%22-parameter-in-pandas?">When should I use the "inplace" parameter in pandas?</a>
21. <a href="#Day-21:-How-do-I-make-my-pandas-DataFrame-smaller-and-faster?">How do I make my pandas DataFrame smaller and faster?</a>
22. <a href="#Day-22:-How-do-I-use-pandas-with-scikit-learn-to-create-Kaggle-submissions?">How do I use pandas with scikit-learn to create Kaggle submissions?</a>
23. <a href="#Day-23:-More-of-your-pandas-questions-answered!">More of your pandas questions answered!</a>
24. <a href="#Day-24:-How-do-I-create-dummy-variables-in-pandas?">How do I create dummy variables in pandas?</a>
25. <a href="#Day-25:-How-do-I-work-with-dates-and-times-in-pandas?">How do I work with dates and times in pandas?</a>
26. <a href="#Day-26:-How-do-I-find-and-remove-duplicate-rows-in-pandas?">How do I find and remove duplicate rows in pandas?</a>
27. <a href="#Day-27:-How-do-I-avoid-a-SettingWithCopyWarning-in-pandas?">How do I avoid a SettingWithCopyWarning in pandas?</a>
28. <a href="#Day-28:-How-do-I-change-display-options-in-pandas?">How do I change display options in pandas?</a>
29. <a href="#Day-29:-How-do-I-create-a-pandas-DataFrame-from-another-object?">How do I create a pandas DataFrame from another object?</a>
30. <a href="#Day-30:-How-do-I-apply-a-function-to-a-pandas-Series-or-DataFrame?">How do I apply a function to a pandas Series or DataFrame?</a>

### Day 1: [What is pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7447213-day-1-what-is-pandas)

- [pandas documentation](https://pandas.pydata.org/docs/index.html)
- [pandas installation instructions](https://pandas.pydata.org/docs/getting_started/install.html)
- [Anaconda distribution of Python](https://www.anaconda.com/download)
- [How to use the Jupyter Notebook](https://youtu.be/IsXXlYVBt1M?t=5m17s) (Data School video)
- [Python Essentials for Data Scientists](https://courses.dataschool.io/python-essentials-for-data-scientists) (Data School course)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 2: [How do I read a tabular data file into pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7448043-day-2-how-do-i-read-a-tabular-data-file-into-pandas)

In [ ]:
# conventional way to import pandas
import pandas as pd
import numpy as np

In [15]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
orders = pd.read_table(chipotle_data)
# examine the first 5 rows
orders.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

Documentation for [**`read_table`**](https://pandas.pydata.org/docs/reference/api/pandas.read_table.html)

In [ ]:
# read a dataset of movie reviewers (modifying the default parameter values for read_table)
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols)

# examine the first 5 rows
users.head()

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 3: [How do I select a pandas Series from a DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7449930-day-3-how-do-i-select-a-pandas-series-from-a-dataframe)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')

# read_csv is equivalent to read_table, except it assumes a comma separator
ufo = pd.read_csv('http://bit.ly/uforeports')

Documentation for [**`read_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [ ]:
# examine the first 5 rows
ufo.head()

In [ ]:
# select the 'City' Series using bracket notation
ufo['City']

# or equivalently, use dot notation
ufo.City

**Bracket notation** will always work, whereas **dot notation** has limitations:

- Dot notation doesn't work if there are **spaces** in the Series name
- Dot notation doesn't work if the Series has the same name as a **DataFrame method or attribute** (like 'head' or 'shape')
- Dot notation can't be used to define the name of a **new Series** (see below)

[Should you use "dot notation" or "bracket notation" with pandas?](https://www.dataschool.io/pandas-dot-notation-vs-brackets/) (Data School blog post)

In [ ]:
# create a new 'Location' Series (must use bracket notation to define the Series name)
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 4: [Why do some pandas commands end with parentheses (and others don't)?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7450681-day-4-why-do-some-pandas-commands-end-with-parentheses-and-others-don-t)

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')

```python
**Attributes** dont end with paranthesis eg df.size ,df.shape, df.index, df.columns, df.dtypes
**Methods** end with parentheses eg.- df.head(), df.describe()
::::::::::::
attributes will be like person.age, person.height.

Methods are like actions like for a human object methods will be person.eat(), person.talk()
methods are like functions and can have arguments(either required argument or optional argument.)
df.describe(include=['object'])=> this will only show object type cols.

```

In [ ]:
# example method: show the first 5 rows
movies.head(2)

In [ ]:
# example method: calculate summary statistics
movies.describe(include=['object'])

In [ ]:
# example attribute: number of rows and columns
movies.shape

In [ ]:
# example attribute: data type of each column
movies.dtypes

In [ ]:
# use an optional parameter to the describe method to summarize only 'object' columns
movies.describe(include=['object'])

Documentation for [**`describe`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 5: [How do I rename columns in a pandas DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7456501-day-5-how-do-i-rename-columns-in-a-pandas-dataframe)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns

In [ ]:
## ----------------------
# rename two of the columns by using the 'rename' method
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns
## ----------------------
# replace all of the column names by overwriting the 'columns' attribute
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
## ----------------------
# replace the column names during the file reading process by using the 'names' parameter
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo = pd.read_csv('http://bit.ly/uforeports', header=0, names=ufo_cols)
ufo.columns
# header=0, names=ufo_cols => means the row0 in input file contains column header, now replace those with ufo_cols list while importing.

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Documentation for [**`rename`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html), [**`read_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html), [**`str.replace`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 6: [How do I remove columns from a pandas DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7471434-day-6-how-do-i-remove-columns-from-a-pandas-dataframe)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# remove a single column (axis=1 refers to columns)
ufo.drop('Colors Reported', axis=1, inplace=True)

# remove multiple columns at once
ufo.drop(['City', 'State'], axis=1, inplace=True)

# remove multiple rows at once (axis=0 refers to rows)
ufo.drop([0, 1], axis=0, inplace=True)

# two rows and three columns have been removed
ufo.shape

Documentation for [**`drop`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 7: [How do I sort a pandas DataFrame or a Series?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7471480-day-7-how-do-i-sort-a-pandas-dataframe-or-a-series)

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head(2)

**Note:** None of the sorting methods below affect the underlying data. (In other words, the sorting is temporary).

In [ ]:
# sort the 'title' Series in ascending order (returns a Series)
movies.title.sort_values()
# sort in descending order instead
movies.title.sort_values(ascending=False)
# sort the entire DataFrame by the 'title' Series (returns a DataFrame)
movies.sort_values('title')
# sort in descending order instead
movies.sort_values('title', ascending=False)
# sort the DataFrame first by 'content_rating', then by 'duration'
movies.sort_values(['content_rating', 'duration'])

Documentation for [**`sort_values`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html) for a **Series**.

Documentation for [**`sort_values`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) for a **DataFrame**.

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 8: [How do I filter rows of a pandas DataFrame by column value?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7497797-day-8-how-do-i-filter-rows-of-a-pandas-dataframe-by-column-value)

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head(2)

**Goal:** Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.

In [ ]:
# create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)
# examine the first five list elements
booleans[0:5]
# confirm that the list has the same length as the DataFrame
len(booleans)
# convert the list to a Series
is_long = pd.Series(booleans)
is_long.head()
# use bracket notation with the boolean Series to tell the DataFrame which rows to display
movies[is_long]

Documentation for [**`Series`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) constructor

In [ ]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
is_long = movies.duration >= 200
movies[is_long]

# or equivalently, write it in one line (no need to create the 'is_long' object)
movies[movies.duration >= 200]

# select the 'genre' Series from the filtered DataFrame
movies[movies.duration >= 200].genre    # sometimes gives abnormal output.

# or equivalently, use the 'loc' accessor
movies.loc[movies.duration >= 200, 'genre']

Documentation for [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 9: [How do I apply multiple filter criteria to a pandas DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7497997-day-9-how-do-i-apply-multiple-filter-criteria-to-a-pandas-dataframe)

In [17]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv(movies_data)
movies.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [ ]:
# filter the DataFrame to only show movies with a 'duration' of at least 200 minutes
movies[movies.duration >= 200]

Understanding **logical operators:**

- **`or`**: True if **either side** of the operator is True
- **`and`**: True only if **both sides** of the operator are True

In [ ]:
# demonstration of the 'or' operator
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# demonstration of the 'and' operator
print(True and True)
print(True and False)
print(False and False)

Rules for specifying **multiple filter criteria** in pandas:

- use **`|`** instead of **`or`**
- use **`&`** instead of **`and`**
- add **parentheses** around each condition to specify evaluation order

**Goal:** Further filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'

In [ ]:
# CORRECT: use the '&' operator to specify that both conditions are required
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
# INCORRECT: using the '|' operator would have shown movies that are either long or dramas (or both)
movies[(movies.duration >=200) | (movies.genre == 'Drama')]

**Goal:** Filter the original DataFrame to show movies with a 'genre' of 'Crime' or 'Drama' or 'Action'

In [ ]:
# use the '|' operator to specify that a row can match any of the three criteria
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')]

# or equivalently, use the 'isin' method
movies[movies.genre.isin(['Crime', 'Drama', 'Action'])]

Documentation for [**`isin`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 10: [Your pandas questions answered!](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7500410-day-10-your-pandas-questions-answered)

**Question:** When reading from a file, how do I read in only a subset of the columns?

In [11]:
# read a dataset of UFO reports into a DataFrame, and check the columns
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [ ]:
# specify which columns to include by name
ufo = pd.read_csv(ufo_data, usecols=['City', 'State'])

# or equivalently, specify columns by position
ufo = pd.read_csv(ufo_data, usecols=[0, 3])
ufo.columns

**Question:** When reading from a file, how do I read in only a subset of the rows?

In [19]:
# specify how many rows to read
ufo = pd.read_csv(ufo_data, nrows=3)
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

Documentation for [**`read_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

**Question:** How do I iterate through a Series?

In [13]:
# Series are directly iterable (like a list)
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

**Question:** How do I iterate through a DataFrame?

In [20]:
# various methods are available to iterate through a DataFrame
# ufo=pd.read_csv(ufo_data)
for index, row in ufo.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

Documentation for [**`iterrows`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html)

**Question:** How do I drop all non-numeric columns from a DataFrame?

In [22]:
# read a dataset of alcohol consumption into a DataFrame, and check the data types
drinks = pd.read_csv(drinks_data)
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
# only include numeric columns in the DataFrame
drinks.select_dtypes(include='number').dtypes

Documentation for [**`select_dtypes`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html)

**Question:** How do I know whether I should pass an argument as a string or a list?

In [ ]:
# describe all of the numeric columns
drinks.describe()

In [ ]:
# pass the string 'all' to describe all columns
drinks.describe(include='all')

In [ ]:
# pass a list of data types to only describe certain types
drinks.describe(include=['object', 'float64'])

In [ ]:
# pass a list even if you only want to describe a single data type
drinks.describe(include=['object'])

Documentation for [**`describe`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 11: [How do I use the "axis" parameter in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7509001-day-11-how-do-i-use-the-axis-parameter-in-pandas)

In [23]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv(drinks_data)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

When **referring to rows or columns** with the axis parameter:

- **axis 0** refers to rows
- **axis 1** refers to columns

In [ ]:
# drop a column (temporarily)
drinks.drop('continent', axis=1).head()
# drop a row (temporarily)
drinks.drop(2, axis=0).head()

When performing a **mathematical operation** with the axis parameter:

- **axis 0** means the operation should "move down" (or "aggregate along") the row axis
- **axis 1** means the operation should "move across" (or "aggregate along") the columns axis

In [ ]:
# calculate the mean of each numeric column
drinks.mean(numeric_only=True)
# or equivalently, specify the axis explicitly
drinks.mean(numeric_only=True, axis=0)
# calculate the mean of each row
drinks.mean(numeric_only=True, axis=1)
# 'index' is an alias for axis 0
drinks.mean(numeric_only=True, axis='index')
# 'columns' is an alias for axis 1
drinks.mean(numeric_only=True, axis='columns')

Documentation for [**`drop`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html),[**`mean`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 12: [How do I use string methods in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7509000-day-12-how-do-i-use-string-methods-in-pandas)

In [ ]:
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()

In [ ]:
# normal way to access string methods in Python
'hello'.upper()
# string methods for pandas Series are accessed via 'str'
orders.item_name.str.upper()
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken')
# use the boolean Series to filter the DataFrame
orders[orders.item_name.str.contains('Chicken')]
# string methods can be chained together
orders.choice_description.str.replace('[', '').str.replace(']', '')
# many pandas string methods support regular expressions (regex)
orders.choice_description.str.replace('[\[\]]', '', regex=True)

Documentation for [**`str.upper`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html), [**`str.contains`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html),  [**`str.replace`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)

[String handling section](https://pandas.pydata.org/docs/reference/series.html#string-handling) of the pandas API reference

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 13: [How do I change the data type of a pandas Series?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7509004-day-13-how-do-i-change-the-data-type-of-a-pandas-series)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv(drinks_data)
drinks.head()

# examine the data type of each Series
drinks.dtypes

In [ ]:
# change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

Documentation for [**`astype`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html), [**`read_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [ ]:
# alternatively, change the data type of a Series while reading in a file
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings':float})
drinks.dtypes

In [ ]:
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()
# examine the data type of each Series
orders.dtypes
# convert a string to a number in order to do math
orders.item_price.str.replace('$', '').astype(float).mean()
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken')
# convert a boolean Series to an integer (False = 0, True = 1)
orders.item_name.str.contains('Chicken').astype(int)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 14: [When should I use a "groupby" in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7508998-day-14-when-should-i-use-a-groupby-in-pandas)

In [4]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv(drinks_data)
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe

In [14]:
# drinks.groupby('continent').mean()  #TypeError: agg function failed [how->mean,dtype->object]
drinks.groupby('continent').mean(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

In [ ]:
drinks[drinks['continent']=='Africa']['beer_servings'].max()
# drinks.groupby('continent').mean()
drinks.groupby('continent')['beer_servings'].max()
# calculate the mean beer servings across the entire dataset
drinks.beer_servings.mean()
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()
# calculate the mean beer servings for each continent
drinks.groupby('continent').beer_servings.mean()
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['count', 'min', 'max', 'mean'])
# side-by-side bar plot of the DataFrame directly above
# drinks.groupby('continent').mean(numeric_only=True).plot(kind='bar')

Documentation for [**`groupby`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html),[**`agg()`**](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.SeriesGroupBy.agg.html), [**`mean`**](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.mean.html),[**`plot`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

## Day 15: [How do I explore a pandas Series?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7508999-day-15-how-do-i-explore-a-pandas-series)

In [20]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv(movies_data)
movies.head(2)
# examine the data type of each Series
movies.dtypes

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [ ]:
# count the non-null values, unique values, and frequency of the most common value
movies.genre.describe()

In [25]:
(movies['genre'].value_counts(normalize=True)*100).head()

genre
Drama        28.396323
Comedy       15.934627
Action       13.891726
Crime        12.665986
Biography     7.865169
Name: proportion, dtype: float64

In [ ]:
# count how many times each value in the Series occurs
movies.genre.value_counts()
# display percentages instead of raw counts
movies.genre.value_counts(normalize=True)
# 'value_counts' (like many pandas methods) outputs a Series
type(movies.genre.value_counts())
# thus, you can add another Series method on the end
movies.genre.value_counts().head()
# display the unique values in the Series
movies.genre.unique()
# count the number of unique values in the Series
movies.genre.nunique()
# compute a cross-tabulation of two Series
pd.crosstab(movies.genre, movies.content_rating)

Documentation for [**`value_counts`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html), [**`describe`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.describe.html), [**`crosstab`**](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html),  [**`unique`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html) and [**`nunique`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.nunique.html)

In [ ]:
# calculate various summary statistics
movies.duration.describe()
# many statistics are implemented as Series methods
movies.duration.mean()

# 'value_counts' is primarily useful for categorical data, not numerical data
movies.duration.value_counts()
# histogram of the 'duration' Series (shows the distribution of a numerical variable)
movies.duration.plot(kind='hist')
# bar plot of the 'value_counts' for the 'genre' Series
movies.genre.value_counts().plot(kind='bar')

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 16: [How do I handle missing values in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7555292-day-16-how-do-i-handle-missing-values-in-pandas)

In [27]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv(ufo_data)
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

Documentation for [**`read_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

In [ ]:
# 'isna' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isna().tail()
# 'notna' returns the opposite of 'isna' (True if not missing, False if missing)
ufo.notna().tail()

# count the number of missing values in each Series
ufo.isna().sum()

# use the 'isna' Series method to filter the DataFrame rows
ufo[ufo.City.isna()]

Documentation for [**`isna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) and [**`notna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.notna.html), [**`dropna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html), [**`value_counts`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)

**How to handle missing values** depends on the dataset as well as the nature of your analysis. Here are some options:

In [ ]:
# examine the number of rows and columns
ufo.shape
# if 'any' values are missing in a row, then drop that row
ufo.dropna(how='any').shape
# 'inplace' parameter for 'dropna' is False by default, thus rows were only dropped temporarily
ufo.shape

# if 'all' values are missing in a row, then drop that row (none are dropped in this case)
ufo.dropna(how='all').shape

# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

# 'value_counts' does not include missing values by default
ufo['Shape Reported'].value_counts()
# explicitly include missing values using dropna=False
ufo['Shape Reported'].value_counts(dropna=False)

In [ ]:
# fill in missing values with a specified value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

Documentation for [**`fillna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
# confirm that the missing values were filled in
ufo['Shape Reported'].value_counts()

[Working with missing data](https://pandas.pydata.org/docs/user_guide/missing_data.html) from the pandas user guide

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

## Day 17: [What do I need to know about the pandas index? (Part 1)](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7555291-day-17-what-do-i-need-to-know-about-the-pandas-index-part-1)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
# every DataFrame has an index (sometimes called the "row labels")
drinks.index

In [ ]:
# column names are also stored in a special "index" object
drinks.columns

In [ ]:
# neither the index nor the columns are included in the shape
drinks.shape

In [ ]:
# index and columns both default to integers if you don't define them
pd.read_table('http://bit.ly/movieusers', header=None, sep='|').head()

**What is the index used for?**

1. identification
2. selection
3. alignment (covered in the next video)

In [ ]:
# identification: index remains with each row when filtering the DataFrame
drinks[drinks.continent=='South America']

In [ ]:
# selection: select a portion of the DataFrame using the index
drinks.loc[23, 'beer_servings']

Documentation for [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)

In [ ]:
# set an existing column as the index
drinks.set_index('country', inplace=True)
drinks.head()

Documentation for [**`set_index`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

In [ ]:
# 'country' is now the index
drinks.index

In [ ]:
# 'country' is no longer a column
drinks.columns

In [ ]:
# 'country' data is no longer part of the DataFrame contents
drinks.shape

In [ ]:
# country name can now be used for selection
drinks.loc['Brazil', 'beer_servings']

In [ ]:
# index name is optional
drinks.index.name = None
drinks.head()

In [ ]:
# restore the index name, and move the index back to a column
drinks.index.name = 'country'
drinks.reset_index(inplace=True)
drinks.head()

Documentation for [**`reset_index`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)

In [ ]:
# many DataFrame methods output a DataFrame
drinks.describe()

In [ ]:
# you can interact with any DataFrame using its index and columns
drinks.describe().loc['25%', 'beer_servings']

[Indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html) from the pandas user guide

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

## Day 18: [What do I need to know about the pandas index? (Part 2)](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7555293-day-18-what-do-i-need-to-know-about-the-pandas-index-part-2)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
# every DataFrame has an index
drinks.index

In [ ]:
# every Series also has an index (which carries over from the DataFrame)
drinks.continent.head()

In [ ]:
# set 'country' as the index
drinks.set_index('country', inplace=True)

Documentation for [**`set_index`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

In [ ]:
# Series index is on the left, values are on the right
drinks.continent.head()

In [ ]:
# another example of a Series (output from the 'value_counts' method)
drinks.continent.value_counts()

Documentation for [**`value_counts`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)

In [ ]:
# access the Series index
drinks.continent.value_counts().index

In [ ]:
# access the Series values
drinks.continent.value_counts().values

In [ ]:
# elements in a Series can be selected by index (using bracket notation)
drinks.continent.value_counts()['Africa']

In [ ]:
# any Series can be sorted by its values
drinks.continent.value_counts().sort_values()

In [ ]:
# any Series can also be sorted by its index
drinks.continent.value_counts().sort_index()

Documentation for [**`sort_values`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html) and [**`sort_index`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_index.html)

**What is the index used for?**

1. identification (covered in the previous video)
2. selection (covered in the previous video)
3. alignment

In [ ]:
# 'beer_servings' Series contains the average annual beer servings per person
drinks.beer_servings.head()

In [ ]:
# create a Series containing the population of two countries
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
people

Documentation for [**`Series`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [ ]:
# calculate the total annual beer servings for each country
(drinks.beer_servings * people).head()

- The two Series were **aligned** by their indexes.
- If a value is missing in either Series, the result is marked as **NaN**.
- Alignment enables us to easily work with **incomplete data**.

In [ ]:
# concatenate the 'drinks' DataFrame with the 'population' Series (aligns by the index)
pd.concat([drinks, people], axis=1).head()

Documentation for [**`concat`**](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

[Indexing and selecting data](https://pandas.pydata.org/docs/user_guide/indexing.html) from the pandas user guide

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 19: [How do I select multiple rows and columns from a pandas DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7555294-day-19-how-do-i-select-multiple-rows-and-columns-from-a-pandas-dataframe)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head(3)

The [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) accessor is used to select rows and columns by **label**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# this implies "all columns", but explicitly stating "all columns" is better
ufo.loc[0:2]

In [ ]:
# all rows, column 'City'
ufo.loc[:, 'City']

In [ ]:
# all rows, columns 'City' and 'State'
ufo.loc[:, ['City', 'State']]

In [ ]:
# accomplish the same thing - but 'loc' is preferred since it's more explicit
ufo[['City', 'State']]

In [ ]:
# all rows, columns 'City' through 'State' (inclusive)
ufo.loc[:, 'City':'State']

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'City':'State']

In [ ]:
# accomplish the same thing using 'head' and 'drop'
ufo.head(3).drop('Time', axis=1)

In [ ]:
# rows in which the 'City' is 'Oakland'
ufo[ufo.City=='Oakland']

In [ ]:
# accomplish the same thing using loc
ufo.loc[ufo.City=='Oakland', :]

In [ ]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

In [ ]:
# accomplish the same thing using "chained indexing" - but 'loc' is preferred since chained indexing can cause problems
ufo[ufo.City=='Oakland'].State

The [**`iloc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) accessor is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# all rows, columns in positions 0 and 3
ufo.iloc[:, [0, 3]]

In [ ]:
# all rows, columns in positions 0 through 4 (exclusive)
ufo.iloc[:, 0:4]

In [ ]:
# iloc slices are exclusive of the stopping value, just like range
list(range(0, 4))

In [ ]:
# rows in positions 0 through 3 (exclusive), all columns
ufo.iloc[0:3, :]

In [ ]:
# accomplish the same thing - but 'iloc' is preferred since it's more explicit
ufo[0:3]

[Different choices for indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#different-choices-for-indexing) in the pandas user guide

In [ ]:
# read a dataset of alcohol consumption into a DataFrame and set 'country' as the index
drinks = pd.read_csv('http://bit.ly/drinksbycountry', index_col='country')
drinks.head()

In [ ]:
# row with label 'Albania', column in position 0
drinks.loc['Albania', drinks.columns[0]]

In [ ]:
# row in position 1, column with label 'beer_servings'
drinks.iloc[1, drinks.columns.get_loc('beer_servings')]

In [ ]:
# rows 'Albania' through 'Andorra' (inclusive), columns in positions 0 through 2 (exclusive)
drinks.loc['Albania':'Andorra', drinks.columns[0:2]]

In [ ]:
# rows 0 through 2 (inclusive), columns in positions 0 through 2 (exclusive)
ufo.loc[0:2, ufo.columns[0:2]]

[Combining positional and label-based indexing](https://pandas.pydata.org/docs/user_guide/indexing.html#combining-positional-and-label-based-indexing) in the pandas user guide

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 20: [When should I use the "inplace" parameter in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7555290-day-20-when-should-i-use-the-inplace-parameter-in-pandas)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [ ]:
ufo.shape

In [ ]:
# remove the 'City' column (doesn't affect the DataFrame since inplace=False)
ufo.drop('City', axis=1).head()

In [ ]:
# confirm that the 'City' column was not actually removed
ufo.head()

Documentation for [**`drop`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)

In [ ]:
# remove the 'City' column (does affect the DataFrame since inplace=True)
ufo.drop('City', axis=1, inplace=True)

In [ ]:
# confirm that the 'City' column was actually removed
ufo.head()

In [ ]:
# drop a row if any value is missing from that row (doesn't affect the DataFrame since inplace=False)
ufo.dropna(how='any').shape

In [ ]:
# confirm that no rows were actually removed
ufo.shape

Documentation for [**`dropna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)

In [ ]:
# use an assignment statement instead of the 'inplace' parameter
ufo = ufo.set_index('Time')
ufo.tail()

Documentation for [**`set_index`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

In [ ]:
# fill missing values using "backward fill" strategy (doesn't affect the DataFrame since inplace=False)
ufo.bfill().tail()

In [ ]:
# compare with "forward fill" strategy (doesn't affect the DataFrame since inplace=False)
ufo.ffill().tail()

Documentation for [**`bfill`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.bfill.html) and [**`ffill`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.ffill.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 21: [How do I make my pandas DataFrame smaller and faster?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587867-day-21-how-do-i-make-my-pandas-dataframe-smaller-and-faster)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
# exact memory usage is unknown because object columns are references elsewhere
drinks.info()

In [ ]:
# force pandas to calculate the true memory usage
drinks.info(memory_usage='deep')

In [ ]:
# calculate the memory usage for each Series (in bytes) without checking the object references
drinks.memory_usage()

In [ ]:
# calculate the true memory usage for each Series
drinks.memory_usage(deep=True)

Documentation for [**`info`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html) and [**`memory_usage`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.memory_usage.html)

In [ ]:
# use the 'category' data type to store the 'continent' strings as integers
drinks['continent'] = drinks.continent.astype('category')
drinks.dtypes

Documentation for [**`astype`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html)

In [ ]:
# 'continent' Series appears to be unchanged
drinks.continent.head()

In [ ]:
# strings are now encoded (0 means 'Africa', 1 means 'Asia', 2 means 'Europe', etc.)
drinks.continent.cat.codes.head()

In [ ]:
# memory usage has been drastically reduced
drinks.memory_usage(deep=True)

In [ ]:
# repeat this process for the 'country' Series
drinks['country'] = drinks.country.astype('category')
drinks.memory_usage(deep=True)

In [ ]:
# memory usage increased because we created 193 categories
drinks.country.cat.categories

The **category** data type should only be used with a string Series that has a **small number of possible values**.

In [ ]:
# create a small DataFrame from a dictionary
df = pd.DataFrame({'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']})
df

In [ ]:
# sort the DataFrame by the 'quality' Series (alphabetical order)
df.sort_values('quality')

In [ ]:
# define a logical ordering for the categories
cats = pd.CategoricalDtype(categories=['good', 'very good', 'excellent'], ordered=True)
df['quality'] = df.quality.astype(cats)
df.quality

In [ ]:
# sort the DataFrame by the 'quality' Series (logical order)
df.sort_values('quality')

In [ ]:
# comparison operators work with ordered categories
df.loc[df.quality > 'good', :]

[Categorical data](https://pandas.pydata.org/docs/user_guide/categorical.html) from the pandas user guide

[Categorical accessor section](https://pandas.pydata.org/docs/reference/series.html#categorical-accessor) of the pandas API reference

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 22: [How do I use pandas with scikit-learn to create Kaggle submissions?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587851-day-22-how-do-i-use-pandas-with-scikit-learn-to-create-kaggle-submissions)

In [ ]:
# read the training dataset from Kaggle's Titanic competition into a DataFrame
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

[Kaggle's Titanic competition](https://www.kaggle.com/c/titanic)

In [ ]:
# create a feature matrix 'X' by selecting two DataFrame columns
feature_cols = ['Pclass', 'Parch']
X = train.loc[:, feature_cols]
X.shape

In [ ]:
# create a response vector 'y' by selecting a Series
y = train.Survived
y.shape

**Note:** There is no need to convert these pandas objects to NumPy arrays.

In [ ]:
# fit a classification model to the training data
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X, y)

[Introduction to Machine Learning with scikit-learn](https://courses.dataschool.io/introduction-to-machine-learning-with-scikit-learn) (Data School course)

In [ ]:
# read the testing dataset from Kaggle's Titanic competition into a DataFrame
test = pd.read_csv('http://bit.ly/kaggletest')
test.head()

In [ ]:
# create a feature matrix from the testing data that matches the training data
X_new = test.loc[:, feature_cols]
X_new.shape

In [ ]:
# use the fitted model to make predictions for the testing set observations
new_pred_class = logreg.predict(X_new)

In [ ]:
# create a DataFrame of passenger IDs and testing set predictions
pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class})

Documentation for [**`DataFrame`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) constructor

In [ ]:
# ensure that PassengerID is the first column by setting it as the index
pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class}).set_index('PassengerId')

In [ ]:
# write the DataFrame to a CSV file that can be submitted to Kaggle
pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class}).set_index('PassengerId').to_csv('sub.csv')

Documentation for [**`to_csv`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
# save a DataFrame to disk ("pickle it")
train.to_pickle('train.pkl')

In [ ]:
# read a pickled object from disk ("unpickle it")
pd.read_pickle('train.pkl').head()

Documentation for [**`to_pickle`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_pickle.html) and [**`read_pickle`**](https://pandas.pydata.org/docs/reference/api/pandas.read_pickle.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 23: [More of your pandas questions answered!](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587869-day-23-more-of-your-pandas-questions-answered)

**Question:** Could you explain how to read the pandas documentation?

[pandas API reference](https://pandas.pydata.org/docs/reference/index.html)

**Question:** What is the difference between **`ufo.isnull()`** and **`pd.isnull(ufo)`**?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [ ]:
# use 'isna' as a top-level function
pd.isna(ufo).head()

In [ ]:
# equivalent: use 'isna' as a DataFrame method
ufo.isna().head()

Documentation for [**`isna`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)

**Question:** Why are DataFrame slices inclusive when using **`.loc`**, but exclusive when using **`.iloc`**?

In [ ]:
# label-based slicing is inclusive of the start and stop
ufo.loc[0:4, :]

In [ ]:
# position-based slicing is inclusive of the start and exclusive of the stop
ufo.iloc[0:4, :]

Documentation for [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) and [**`iloc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html)

In [ ]:
# 'iloc' is simply following NumPy's slicing convention...
ufo.to_numpy()[0:4, :]

In [ ]:
# ...and NumPy is simply following Python's convention
list(range(0, 4))

In [ ]:
# 'loc' is inclusive of the stopping label because you don't necessarily know what label will come after it
ufo.loc[0:4, 'City':'State']

**Question:** How do I randomly sample rows from a DataFrame?

In [ ]:
# sample 3 rows from the DataFrame without replacement
ufo.sample(n=3)

Documentation for [**`sample`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html)

In [ ]:
# use the 'random_state' parameter for reproducibility
ufo.sample(n=3, random_state=42)

In [ ]:
# sample 75% of the DataFrame's rows without replacement
train = ufo.sample(frac=0.75, random_state=99)

In [ ]:
# store the remaining 25% of the rows in another DataFrame
test = ufo.loc[~ufo.index.isin(train.index), :]

Documentation for [**`isin`**](https://pandas.pydata.org/docs/reference/api/pandas.Index.isin.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 24: [How do I create dummy variables in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587845-day-24-how-do-i-create-dummy-variables-in-pandas)

In [ ]:
# read the training dataset from Kaggle's Titanic competition
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

In [ ]:
# create the 'Sex_male' dummy variable using the 'map' method
train['Sex_male'] = train.Sex.map({'female':0, 'male':1})
train.head()

Documentation for [**`map`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html)

In [ ]:
# alternative: use 'get_dummies' to create one column for every possible value
pd.get_dummies(train.Sex, dtype=int).head()

Documentation for [**`get_dummies`**](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html)

Generally speaking:

- If you have **"K" possible values** for a categorical feature, you only need **"K-1" dummy variables** to capture all of the information about that feature.
- One convention is to **drop the first dummy variable**, which defines that level as the "baseline".

In [ ]:
# drop the first dummy variable ('female') using the 'iloc' method
pd.get_dummies(train.Sex, dtype=int).iloc[:, 1:].head()

In [ ]:
# add a prefix to identify the source of the dummy variables
pd.get_dummies(train.Sex, prefix='Sex', dtype=int).iloc[:, 1:].head()

In [ ]:
# use 'get_dummies' with a feature that has 3 possible values
pd.get_dummies(train.Embarked, prefix='Embarked', dtype=int).head(10)

In [ ]:
# drop the first dummy variable ('C')
pd.get_dummies(train.Embarked, prefix='Embarked', dtype=int).iloc[:, 1:].head(10)

How to translate these values back to the original 'Embarked' value:

- **0, 0** means **C**
- **1, 0** means **Q**
- **0, 1** means **S**

In [ ]:
# save the DataFrame of dummy variables and concatenate them to the original DataFrame
embarked_dummies = pd.get_dummies(train.Embarked, prefix='Embarked', dtype=int).iloc[:, 1:]
train = pd.concat([train, embarked_dummies], axis=1)
train.head()

Documentation for [**`concat`**](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [ ]:
# reset the DataFrame
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

In [ ]:
# pass the DataFrame to 'get_dummies' and specify which columns to dummy (it drops the original columns)
pd.get_dummies(train, columns=['Sex', 'Embarked'], dtype=int).head()

In [ ]:
# use the 'drop_first' parameter to drop the first dummy variable for each feature
pd.get_dummies(train, columns=['Sex', 'Embarked'], drop_first=True, dtype=int).head()

[Introduction to Machine Learning with scikit-learn](https://courses.dataschool.io/introduction-to-machine-learning-with-scikit-learn) (Data School course)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 25: [How do I work with dates and times in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587854-day-25-how-do-i-work-with-dates-and-times-in-pandas)

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

In [ ]:
# 'Time' is currently stored as a string
ufo.dtypes

In [ ]:
# hour could be accessed using string slicing, but this approach breaks too easily
ufo.Time.str.slice(-5, -3).astype(int).head()

In [ ]:
# convert 'Time' to datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.head()

In [ ]:
ufo.dtypes

Documentation for [**`to_datetime`**](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [ ]:
# convenient Series attributes are now available
ufo.Time.dt.hour.head()

In [ ]:
# note that day_name is a method, not an attribute
ufo.Time.dt.day_name().head()

In [ ]:
ufo.Time.dt.weekday.head()

In [ ]:
ufo.Time.dt.dayofyear.head()

[Datetime accessor section](https://pandas.pydata.org/docs/reference/series.html#datetimelike-properties) of the pandas API reference

In [ ]:
# convert a single string to datetime format (outputs a timestamp object)
ts = pd.to_datetime('1/1/1999')
ts

In [ ]:
# compare a datetime Series with a timestamp
ufo.loc[ufo.Time >= ts, :].head()

In [ ]:
# perform mathematical operations with timestamps (outputs a timedelta object)
ufo.Time.max() - ufo.Time.min()

In [ ]:
# timedelta objects also have attributes you can access
(ufo.Time.max() - ufo.Time.min()).days

In [ ]:
# count the number of UFO reports per year
ufo['Year'] = ufo.Time.dt.year
ufo.Year.value_counts().sort_index().head()

In [ ]:
# plot the number of UFO reports per year (line plot is the default)
ufo.Year.value_counts().sort_index().plot()

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 26: [How do I find and remove duplicate rows in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587868-day-26-how-do-i-find-and-remove-duplicate-rows-in-pandas)

In [ ]:
# read a dataset of movie reviewers into a DataFrame
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=user_cols, index_col='user_id')
users.head()

In [ ]:
users.shape

In [ ]:
# detect duplicate zip codes: True if an item is identical to a previous item
users.zip_code.duplicated()

In [ ]:
# count the duplicate items (True becomes 1, False becomes 0)
users.zip_code.duplicated().sum()

Documentation for [**`duplicated`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.duplicated.html) Series method

In [ ]:
# detect duplicate DataFrame rows: True if an entire row is identical to a previous row
users.duplicated()

In [ ]:
# count the duplicate rows
users.duplicated().sum()

Documentation for [**`duplicated`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html) DataFrame method

Logic for **`duplicated`**:

- **`keep='first'`** (default): Mark duplicates as True except for the first occurrence.
- **`keep='last'`**: Mark duplicates as True except for the last occurrence.
- **`keep=False`**: Mark all duplicates as True.

In [ ]:
# examine the duplicate rows (ignoring the first occurrence)
users.loc[users.duplicated(keep='first'), :]

In [ ]:
# examine the duplicate rows (ignoring the last occurrence)
users.loc[users.duplicated(keep='last'), :]

In [ ]:
# examine the duplicate rows (including all duplicates)
users.loc[users.duplicated(keep=False), :]

In [ ]:
# drop the duplicate rows (inplace=False by default)
users.drop_duplicates(keep='first').shape

In [ ]:
users.drop_duplicates(keep='last').shape

In [ ]:
users.drop_duplicates(keep=False).shape

Documentation for [**`drop_duplicates`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [ ]:
# only consider a subset of columns when identifying duplicates
users.duplicated(subset=['age', 'zip_code']).sum()

In [ ]:
users.drop_duplicates(subset=['age', 'zip_code']).shape

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 27: [How do I avoid a SettingWithCopyWarning in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587859-day-27-how-do-i-avoid-a-settingwithcopywarning-in-pandas)

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [ ]:
# count the missing values in the 'content_rating' Series
movies.content_rating.isna().sum()

In [ ]:
# examine the DataFrame rows that contain those missing values
movies[movies.content_rating.isna()]

In [ ]:
# examine the unique values in the 'content_rating' Series
movies.content_rating.value_counts()

**Goal:** Mark the 'NOT RATED' values as missing values, represented by 'NaN'.

In [ ]:
# first, locate the relevant rows
movies[movies.content_rating=='NOT RATED']

In [ ]:
# then, select the 'content_rating' Series from those rows
movies[movies.content_rating=='NOT RATED'].content_rating

In [ ]:
# finally, replace the 'NOT RATED' values with 'NaN' (imported from NumPy)
import numpy as np
movies[movies.content_rating=='NOT RATED'].content_rating = np.nan

[Returning a view versus a copy](https://pandas.pydata.org/docs/user_guide/indexing.html#returning-a-view-versus-a-copy) from the pandas user guide

[Modern Pandas (Part 1)](https://tomaugspurger.net/posts/modern-1-intro/#settingwithcopy) blog post by Tom Augspurger

**Problem:** That statement involves two operations, a **`__getitem__`** and a **`__setitem__`**. pandas can't guarantee whether the **`__getitem__`** operation returns a view or a copy of the data.

- If **`__getitem__`** returns a view of the data, **`__setitem__`** will affect the 'movies' DataFrame.
- But if **`__getitem__`** returns a copy of the data, **`__setitem__`** will not affect the 'movies' DataFrame.

In [ ]:
# the 'content_rating' Series has not changed
movies.content_rating.isna().sum()

**Solution:** Use the [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) accessor, which replaces the 'NOT RATED' values in a single **`__setitem__`** operation.

In [ ]:
# replace the 'NOT RATED' values with 'NaN' (does not cause a SettingWithCopyWarning)
movies.loc[movies.content_rating=='NOT RATED', 'content_rating'] = np.nan

In [ ]:
# this time, the 'content_rating' Series has changed
movies.content_rating.isna().sum()

**Summary:** Use the [**`loc`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) accessor any time you are selecting rows and columns in the same statement.

In [ ]:
# create a DataFrame only containing movies with a high 'star_rating'
top_movies = movies.loc[movies.star_rating >= 9, :]
top_movies

**Goal:** Fix the 'duration' for 'The Shawshank Redemption'.

In [ ]:
# overwrite the relevant cell with the correct duration
top_movies.loc[0, 'duration'] = 150

**Problem:** pandas isn't sure whether 'top_movies' is a view or a copy of 'movies'.

*Update from 2024: This is no longer the case.*

In [ ]:
# 'top_movies' DataFrame has been updated
top_movies

In [ ]:
# 'movies' DataFrame has not been updated
movies.head(1)

**Solution:** Any time you are attempting to create a DataFrame copy, use the [**`copy`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.copy.html) method.

In [ ]:
# explicitly create a copy of 'movies'
top_movies = movies.loc[movies.star_rating >= 9, :].copy()

In [ ]:
# pandas now knows that you are updating a copy instead of a view (does not cause a SettingWithCopyWarning)
top_movies.loc[0, 'duration'] = 150

In [ ]:
# 'top_movies' DataFrame has been updated
top_movies

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 28: [How do I change display options in pandas?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587904-day-28-how-do-i-change-display-options-in-pandas)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
# only 10 rows will be displayed when printing
drinks

In [ ]:
# check the current setting for the 'max_rows' option
pd.get_option('display.max_rows')

Documentation for [**`get_option`**](https://pandas.pydata.org/docs/reference/api/pandas.get_option.html)

In [ ]:
# overwrite the current setting so that all rows will be displayed
pd.set_option('display.max_rows', None)
drinks

In [ ]:
# reset the 'max_rows' option to its default
pd.reset_option('display.max_rows')

Documentation for [**`set_option`**](https://pandas.pydata.org/docs/reference/api/pandas.set_option.html) and [**`reset_option`**](https://pandas.pydata.org/docs/reference/api/pandas.reset_option.html)

In [ ]:
# the 'max_columns' option is similar to 'max_rows'
pd.get_option('display.max_columns')

In [ ]:
# read the training dataset from Kaggle's Titanic competition into a DataFrame
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

In [ ]:
# an ellipsis is displayed in the 'Name' cell of row 1 because of the 'max_colwidth' option
pd.get_option('display.max_colwidth')

In [ ]:
# overwrite the current setting so that more characters will be displayed
pd.set_option('display.max_colwidth', 1000)
train.head()

In [ ]:
# notice that the 'Fare' column displays 4 digits after the decimal point
pd.get_option('display.precision')

In [ ]:
# overwrite the 'precision' setting to display 2 digits after the decimal point
pd.set_option('display.precision', 2)
train.head()

In [ ]:
# add two meaningless columns to the drinks DataFrame
drinks['x'] = drinks.wine_servings * 1000
drinks['y'] = drinks.total_litres_of_pure_alcohol * 1000
drinks.head()

In [ ]:
# use a Python format string to specify a comma as the thousands separator
pd.set_option('display.float_format', '{:,}'.format)
drinks.head()

In [ ]:
# 'y' was affected (but not 'x') because the 'float_format' option only affects floats (not ints)
drinks.dtypes

In [ ]:
# view the option descriptions (including the default and current values)
pd.describe_option()

In [ ]:
# search for specific options by name
pd.describe_option('rows')

Documentation for [**`describe_option`**](https://pandas.pydata.org/docs/reference/api/pandas.describe_option.html)

In [ ]:
# reset all of the options to their default values
pd.reset_option('all')

[Options and settings](https://pandas.pydata.org/docs/user_guide/options.html) from the pandas user guide

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 29: [How do I create a pandas DataFrame from another object?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587905-day-29-how-do-i-create-a-pandas-dataframe-from-another-object)

In [ ]:
# create a DataFrame from a dictionary (keys become column names, values become data)
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

In [ ]:
# optionally define the index
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, index=['a', 'b', 'c'])
df

Documentation for [**`DataFrame`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [ ]:
# create a DataFrame from a list of lists (each inner list becomes a row)
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

In [ ]:
# create a NumPy array (with shape 4 by 2) and fill it with random numbers between 0 and 1
import numpy as np
arr = np.random.rand(4, 2)
arr

Documentation for [**`np.random.rand`**](https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html)

In [ ]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two'])

In [ ]:
# create a DataFrame of student IDs (100 through 109) and test scores (random integers between 60 and 100)
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

Documentation for [**`np.arange`**](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) and [**`np.random.randint`**](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html)

In [ ]:
# 'set_index' can be chained with the DataFrame constructor to select an index
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

Documentation for [**`set_index`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)

In [ ]:
# create a new Series using the Series constructor
s = pd.Series(['round', 'square'], index=['c', 'b'], name='shape')
s

Documentation for [**`Series`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [ ]:
# review the existing DataFrame
df

In [ ]:
# concatenate the DataFrame and the Series (use axis=1 to concatenate columns)
pd.concat([df, s], axis=1)

**Notes:**

- The Series name became the column name in the DataFrame.
- The Series data was aligned to the DataFrame by its index.
- The 'shape' for row 'a' was marked as a missing value (NaN) because that index was not present in the Series.

Documentation for [**`concat`**](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]

### Day 30: [How do I apply a function to a pandas Series or DataFrame?](https://courses.dataschool.io/view/courses/pandas-in-30-days/2341096-course-videos/7587910-day-30-how-do-i-apply-a-function-to-a-pandas-series-or-dataframe)

In [5]:
# read the training dataset from Kaggle's Titanic competition into a DataFrame
train = pd.read_csv(titanic_train_data)
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [12]:
train['sex_num']=train['Sex'].map({'male':1,'female':0})
train.loc[0:4,['Sex', 'sex_num']]
train[]

      Sex  sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

**Goal:** Map the existing values of a Series to a different set of values

**Method:** [**`map`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html) (Series method)

In [14]:
# map 'female' to 0 and 'male' to 1
# train['Sex_num'] = train.Sex.map({'female':0, 'male':1})
# train.loc[0:4, ['Sex', 'Sex_num']]
train['Sex'].apply(lambda x:1 if x=='male' else 0 if x=='female' else x)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

**Goal:** Apply a function to each element in a Series

**Method:** [**`apply`**](https://pandas.pydata.org/docs/reference/api/pandas.Series.apply.html) (Series & df method)

**Note:** **`map`** can be substituted for **`apply`** in many cases, but **`apply`** is more flexible and thus is recommended

In [ ]:
# calculate the length of each string in the 'Name' Series
train['Name_length'] = train.Name.apply(len)
train.loc[0:4, ['Name', 'Name_length']]

In [ ]:
# round up each element in the 'Fare' Series to the next integer
import numpy as np
train['Fare_ceil'] = train.Fare.apply(np.ceil)
train.loc[0:4, ['Fare', 'Fare_ceil']]

In [ ]:
# we want to extract the last name of each person
train.Name.head()

In [ ]:
# use a string method to split the 'Name' Series at commas (returns a Series of lists)
train.Name.str.split(',').head()

In [ ]:
# define a function that returns an element from a list based on position
def get_element(my_list, position):
    return my_list[position]

In [ ]:
# apply the 'get_element' function and pass 'position' as a keyword argument
train.Name.str.split(',').apply(get_element, position=0).head()

In [ ]:
# alternatively, use a lambda function
train.Name.str.split(',').apply(lambda x: x[0]).head()

**Goal:** Apply a function along either axis of a DataFrame

**Method:** [**`apply`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) (DataFrame method)

In [15]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [32]:
# select a subset of the DataFrame to work with
drinks.loc[:, 'beer_servings':'wine_servings'].head()

   beer_servings  spirit_servings  wine_servings
0              0                0              0
1             89              132             54
2             25                0             14
3            245              138            312
4            217               57             45

In [41]:
# apply the 'max' function along axis 0 to calculate the maximum value in each column
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=0)
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=0)

beer_servings      117
spirit_servings     68
wine_servings       61
dtype: int64

In [38]:

# apply the 'max' function along axis 1 to calculate the maximum value in each row
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1).head()
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1).head()

0    0
1    1
2    0
3    2
4    0
dtype: int64

In [28]:
drinks.loc[:, 'beer_servings':'wine_servings']

     beer_servings  spirit_servings  wine_servings
0                0                0              0
1               89              132             54
2               25                0             14
3              245              138            312
4              217               57             45
..             ...              ...            ...
188            333              100              3
189            111                2              1
190              6                0              0
191             32               19              4
192             64               18              4

[193 rows x 3 columns]

In [29]:
# use 'idxmax' to calculate which column has the maximum value for each row
drinks.loc[:, 'beer_servings':'wine_servings'].idxmax(axis=1).head()

0      beer_servings
1    spirit_servings
2      beer_servings
3      wine_servings
4      beer_servings
dtype: object

In [31]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax, axis=1)

0      0
1      1
2      0
3      2
4      0
      ..
188    0
189    0
190    0
191    0
192    0
Length: 193, dtype: int64

**Goal:** Apply a function to every element in a DataFrame

**Method:** [**`map`**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.map.html) (DataFrame method)

In [ ]:
# convert every DataFrame element into a float
drinks.loc[:, 'beer_servings':'wine_servings'].map(float).head()

In [ ]:
# overwrite the existing DataFrame columns (this no longer works in 2024)
drinks.loc[:, 'beer_servings':'wine_servings'] = drinks.loc[:, 'beer_servings':'wine_servings'].map(float)
drinks.head()

[Introduction to Machine Learning with scikit-learn](https://courses.dataschool.io/introduction-to-machine-learning-with-scikit-learn) (Data School course)

[Tuesday Tips](https://tuesday.tips) (Data School newsletter)

[<a href="#Course:-pandas-in-30-days">Back to top</a>]